.container {
    width: 100%;
    padding: 0 18px 0 0;
    background-color:#0D2636;
    display: flex;
    /* justify-content:space-around; */
    flex-direction: column;
    border: 0;
    padding: 10px;
    margin: 0 ;
    list-style: none;
    
      
    
}

.content {
    background-color: #0D2636;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: center;
    flex-direction: column;
    /* justify-content:space-around; */
    flex-direction: column;
    border: 0;
    padding: 0px;
    margin: 0 ;
    list-style: none;
    
}



.keyword{
    list-style: none;
    border: 1px solid #eee;
    border-radius: 4px;
    /* max-width: 1024px; */
    width: 100%;
    padding: 0 18px;
    padding-top: 10px;
    margin-left: 30px;
    margin-top: 58px;
    flex-direction: row;
    display: flex;
    justify-content: left;
    align-items: up;
}
.keywordButtons{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.lineAndCloud {
    list-style: none;
    /* max-width: 1024px; */
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: row;
    display: flex;
    overflow: hidden;
    height: auto;
    transition: height 1s ease-out;
}
.expanded {
    max-height: 1000px; /* adjust to a suitable maximum height */
  }
.button {
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #3183ff;
    padding: 12px 0;
    font-size: 18px;
}




.trashButton {
    cursor: pointer;
    background: transparent ;
    border: 0;
    margin: 0 8px ;

}

.expandButton {
    cursor: pointer;
    background: transparent ;
    border: 0;
    margin: 0 8px ;

}

@media screen  and (max-width: 800px) {

    .keyword{
      flex-direction: column;
    }
    .lineAndCloud {
        flex-direction: column;
      }
  }