.container {
    width: 100%;
    padding: 0 18px 0 0;

        background-color:#0D2636;
        display: flex;
        /* justify-content:space-around; */
        flex-direction: column;
        border: 0;
        padding: 10px;
        margin: 0 ;
        list-style: none;
        align-items:center ;
      
    
}

.content {
    background-color: #0D2636;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: center;
    flex-direction: column;
    padding: 0 18px 0 0;

        display: flex;
        /* justify-content:space-around; */
        flex-direction: column;
        border: 0;
        padding: 10px;
        margin: 0 ;
        list-style: none;
        align-items:center ;
    
}

.tweetContent {
    margin-bottom: 8px;
    width: 100%;
    list-style: none;
    align-items:center ;
    margin: 0 ;
    display: flex;
    
}

.tweetContent p {
    color: #fff;
    margin-bottom: 8px;
    width: 100%;
}

.keyword{
    list-style: none;
    /* max-width: 1024px; */
    width: 100%;
    padding: 0 18px;
    padding-bottom: 28px;
    margin-left: 30px;
    margin-top: 58px;
}


/* .chartContainer{
    height: 100%;
    width: 100%;
    /* min-height: 502px; 
    /* max-width: 1024px; 
    list-style: none;
    margin-top: 14px;
    background-color: white;
    align-items:center;
    border-radius: 4px;
*/

/* .checkBoxArea label{
    margin-left: 8px ;

    
}

.checkBoxArea {
    margin:14px 0px ;
}

.checkBox {
    width: 18px;
    height: 18px;
} */

.button {
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #3183ff;
    padding: 12px 0;
    font-size: 18px;
}




.trashButton {
    cursor: pointer;
    background: transparent ;
    border: 0;
    margin: 0 8px ;

}

.expandButton {
    cursor: pointer;
    background: transparent ;
    border: 0;
    margin: 0 8px ;

}